.DS_Store
.vscode/
**/.DS_Store
**/.vscode/
**/.idea/

/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeSettings.json
/CMakeLists.txt.user
*/CMakeFiles/
*/CMakeScripts/
*/CMakeCache.txt
*/CMakeSettings.json
*/CMakeLists.txt.user
*/build/
**/*.db
**/mongo-cxx-driver